<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App</title>
</head>
<body>
<h1>Flower Prediction</h1>
<div class="container">

    <form action="/predict", method="POST">
        <input type="text" name="spl", placeholder="sepal length(CM)"><br>
        <input type="text" name="spw", placeholder="sepal width (CM)"><br>
        <input type="text" name="ptl", placeholder="petal length (CM)"><br>
        <input type="text" name="ptw", placeholder="petal width (CM)"><br>


        <button class="btn btn-success">Predict</button>


    </form>

    <div class="row">

        {% if prediction %}
        <h2 class="text-warning">Your flower is {{ prediction}}  </h2>
        {% endif %}

    </div>

</div>





</body>
</html>